.cf:before, .cf:after { content:""; display:table; }
.cf:after { clear:both; }
.cf { zoom:1; } /* For IE 6/7 (trigger hasLayout) */

img{
  max-width: 100%;
  height: auto !important;
}

$gray: #939598;

//light 300
//normal 400
//semi bold 600
//bold 700
@mixin source-sans($weight, $size) {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: $size;
  font-size: calculateRem($size);
  font-weight: $weight;
}
