h1.titulo{
  margin:15px 0;
  @include source-sans(400, 48px);
  border-bottom:none;
  letter-spacing:5px;


 span{
    @include source-sans(300, 32px);
    text-transform:uppercase;
    letter-spacing:5px;
  }
}

h1{
  @include source-sans(700, 36px);
  border-bottom:$line solid $gray;
  margin-bottom:15px;
}

h2{
  @include source-sans(700, 28px);
  border-bottom:$line solid $gray;
  margin-bottom:10px;
}
h3{
  @include source-sans(700, 21px);
  margin-bottom:15px;
}
