footer{
  width:85%;
  margin:15px auto 0 auto;
  padding:15px 0;
  border-top: $border ;
}

.logo{
  line-height:40px;
  img{
    float:left;
    width:40px;
  }
  p{
    float:left;
  }

}

nav.social{
  position: absolute;
  right:10%;
  padding-top:10px;
  a{
    display:inline-block;
  }
    @include breakpoint(baby-bear) {
      font-size: 12px;
    }
}
