@import "compass/css3";
@import "general/reset";
@import "general/bits";
@import "misc/grid";

body{
  @include source-sans(400, 16px);
  color: $gray;
}


a, a:hover, a:active, a:visited{
  text-decoration:none;
  color: $gray;
}


header{
  width:85%;
  margin:0 auto;
  padding:15px 0;
}

h1.titulo{
  margin:15px 0;
  @include source-sans(700, 48px);

 span{
    @include source-sans(300, 32px);
    text-transform:uppercase;
    letter-spacing:5px;
  }
}
nav.site-nav{
  border-top:1px gray solid;
  border-bottom:1px $gray solid;
  padding:15px 0;
  @include source-sans(300, 18px);

  a{
    display:inline-block;
    width:(98%/4);
    text-align:center;
    text-transform:uppercase;
  }
  a:first-child{
    text-align:left;
  }
  a:last-child{
    text-align: right;
  }
}


footer{
  width:85%;
  margin:15px auto 0 auto;
  padding:15px 0;
  border-top: 1px $gray solid;
}
