@import "compass/css3";
@import "general/reset";
@import "general/bits";
@import "misc/grid";

body{
  @include source-sans(400, 16px);
  color: $gray;
}

img{
  width:100%;
  height:auto !important;
}

@import "general/type";

a, a:hover, a:active, a:visited{
  text-decoration:none;
  color: $gray;
}


header{
  width:85%;
  margin:0 auto;
  padding:15px 0;
}

@import "misc/navigation";


footer{
  width:85%;
  margin:15px auto 0 auto;
  padding:15px 0;
  border-top: $line $gray solid;
}
