@import "compass/css3";
@import "general/reset";
@import "general/bits";
@import "misc/grid";
@import "misc/type";
@import "misc/slider";

body{
  @include source-sans(400, 16px);
  color: $gray;
}

img{
  width: 100%;
  height: auto;
}

a, a:hover, a:active, a:visited{
  text-decoration:none;
  color: $gray;
}

@import "components/header";
@import "components/navigation";
@import "components/rounds";
@import "components/footer";
