nav.site-nav{
  border-top:$border;
  border-bottom:$border;
  padding:15px 0;
  @include source-sans(300, 18px);

  a{
    display:inline-block;
    width:(98%/4);
    text-align:center;
    text-transform:uppercase;
  }
  a:first-child{
    text-align:left;
  }
  a:last-child{
    text-align: right;
  }
}

.logo{
  line-height:40px;
  img{
    float:left;
    width:40px;
  }
  p{
    float:left;
  }

}

nav.social{
  position:absolute;
  right:10%;
  padding-top:10px;
  a{
    display:inline-block;
  }
}
